<h1>Plates for <%= User.find(params[:user_id]).username %></h1>
<% if notice %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Success!</h4>
		<%= notice %>
	</div>
<% end %>

<table>
	<thread>
		<tr>
			<th>Plate #</th>
			<th>Method</th>
		</tr>
	</thread>

	<tbody>
	<% @plates.each do |plate| %>
		<tr>
			<td><%= plate.plateNo %></td>
			<td><%= link_to 'Destroy', user_plate_path(user_id: params[:user_id], id: plate.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% if @plates.empty? %>
	No plates. Add one now! <br>
<% end %>

<%= content_for :sidebar do %>
	<li><%= link_to 'Add a New Plate', new_user_plate_path %></li>
	<li><%= link_to 'Back', user_path(id: params[:user_id]) %></li>
<% end %>