<h1>Editing <%= @user.name %></h1>

<%= render 'form' %>

<%= form_tag user_topup_path(user_id: @user.id) do %>
<%= label_tag "amount", "Enter amount wanted:" %>
<%= number_field_tag "amount", 0, in: 1..100 %>
<%= submit_tag "Top up!"%>
<% end %>

<%= content_for :sidebar do %>
	<li><%= link_to 'Back', @user %></li>
<% end %>
