<p>
  <strong>Username:</strong>
  <%= @user.username %> <br>
  <strong>Quota:</strong>
  <%= @user.quota %> <br>

  <strong>Recent Logs:</strong>
  <ul>
  	<% VehicleLog.where(plate: @user.getPlates).limit(5).order("created_at desc").each do |log| %>
 	<li><%= log.plate %>, <%= time_ago_in_words Time.at(log.timestamp.to_i) %> ago</li>
 	<% end %>
  </ul>

</p>

<%= content_for :sidebar do %>
	<li><%= link_to 'Edit', edit_user_path(@user) %></li>
	<li><%= link_to 'Manage Plates', user_plates_path(user_id: params[:id]) %></li>
	<% if  session[:isAdmin] %>
	<li><%= link_to 'Back', users_path %></li>
	<% end %>
<% end %>
